<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<script src= "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script src="../js/ng-todolist.js"></script>
<body ng-app="myapp" ng-controller="todoctrl">
<h1> This is Kuldips ToDo List</h1>

<!-- this is every note intially made -->
<div ng-repeat="todo in todos">
List Item:<input type="checkbox" ng-model="todo.done"/>
<input type="text" ng-model="todo.text"/>
<a href="" ng-click="removeTodo($index)">Remove</a>
<br>

</div>

<!--  adding todo form -->
<form ng-submit="addtodo()">
Add New Note:<input type="text" ng-model="todoText"/>
<input type="submit"/>
</form>

</body>
</html>